{#
 # @author Johannes Höhn <johannes.hoehn@hof-university.de>
 #}

<div class="btn btn-primary pull-right" ng-click="addNewTodo()"><i class="glyphicon glyphicon-plus"></i> </div>
<h2>{{ "app.todos.title"|trans }}</h2>

{% verbatim %}
<hr class="invisible"/>

<div ng-repeat="todo in todos">

    <div ng-class="{'done': todoIsDone(todo)}">
        <accordion close-others="oneAtATime">
            <accordion-group>

                <accordion-heading>
                    <i class="fa" ng-class="{'fa-exclamation': todoIsImportant(todo)}"> </i>

                    {{ todo.task }}

                </accordion-heading>


                <div class="row">
                    <div class="col-xs-12"><i>{{ todo.description }}</i></div>




                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-3">

                        <input type="checkbox" ng-model="status" ng-change="">
                        <span class="bold">Erledigt</span><br><br>

                        <input type="checkbox" ng-model="priority" ng-change="">
                        <span class="bold">Wichtig</span>

                    </div>
                    <div class="col-xs-3">




                        <span class="bold">Zu erledigen bis</span>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input date-picker class="form-control date-picker" type="text" date="date.endDate" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="margin-top:35px;">
                                    <timepicker class="time-picker" ng-model="timepicker" ng-change="timeChange()" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-xs-6">
                        <span class="bold">Aufgabe einer Person zuordnen: </span>
                        <div class="row">
                            <div class="col-xs-10">
                                <user-select selected="todo.user" ng-change="temp()" ng-model="user"></user-select>
                            </div>
                            <div class="col-xs-2">
                                <div class="btn btn-primary pull-right" ng-click="addUser()"><i class="fa fa-plus"></i></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr class="invisible"/>
                                <hr class="invisible"/>
                                <div data-toggle="modal" data-target=".todoModal" ng-click="setTempIdToDelete(todo.id)"><div class="btn btn-danger pull-right"><i class="fa fa-remove"></i></div></div>
                            </div>
                        </div>


                    </div>
                </div>

            </accordion-group>
        </accordion>
    </div>

    {{ todo }}

    <br>
    selected User: {{ todo.user }}


</div>


<!-- Todo Modal -->
<div class="modal fade todoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">ToDo löschen</h4>
            </div>
            <div class="modal-body">
                Wollen Sie diesen ToDo Punkt wirklich unwiderruflich löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nein, doch nicht</button>
                <button type="button" class="btn btn-danger" ng-click="deleteModal()" data-dismiss="modal">Ja, löschen</button>
            </div>
        </div>
    </div>
</div>



{% endverbatim %}