{#
 # @author Johannes Höhn <johannes.hoehn@hof-university.de>
 #}
{% if standalone is not defined %}
    {% set standalone = false %}
{% endif %}
<div class="pull-right">
    {% if not standalone %}
    <div class="btn btn-primary text-right pull-right" ng-click="addNewTodo()"><i class="glyphicon glyphicon-plus"></i> </div>
    {% endif %}
    <br>
    <div class="header-button" on="status" ng-switch="" style="margin-bottom: 25px;">
        <button ng-switch-when="saving" class="btn btn-default disabled"><span class="glyphicon glyphicon-refresh"></span> {{ "app.saving"|trans }}</button>
        <button ng-switch-when="saved" class="btn btn-default disabled"><span class="glyphicon glyphicon-ok"></span> {{ "app.saved"|trans }}</button>
    </div>

</div>




{% block page_header %}
<h2>{{ "app.todos.tab_title"|trans }}</h2>
{% endblock %}
<hr class="invisible"/>

<div ng-repeat="todo in todos">

    <div ng-class="{'done': todo.status == 'closed'}">
        <accordion>
            <accordion-group is-open="todo.open">

                <accordion-heading>
                    <i class="fa" ng-class="{'fa-exclamation': todo.priority}"> </i>

                    {{ "{{ todo.task || '" ~ ("app.todos.new_title"|trans) ~ "' }}" }}
                </accordion-heading>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn btn-danger pull-right" style="margin-right:10px;" data-toggle="modal" data-target=".todoModal" ng-click="setTempTodoToDelete(todo)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </div>

                        <p>
                            <span class="bold">{{ "app.todos.title"|trans }}: </span>
                            <span class="edit-title"><a editable-text="todo.task">{{ "{{ todo.task || '" ~ ("app.todos.empty_title"|trans) ~ "' }}" }}</a></span>
                        </p>
                        <p>
                            <span class="bold">{{ "app.todos.description"|trans }}: </span><br>
                            <i class="edit-description">
                                <a editable-textarea="todo.description" e-rows="7" e-cols="60">
                                    <pre>{{ "{{ todo.description || '" ~ ("app.todos.empty_description"|trans) ~ "' }}" }}</pre>
                                </a>
                            </i>
                        </p>
                    </div>




                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-2">

                        <input type="checkbox" ng-model="todo.status" ng-true-value="'closed'" ng-false-value="'open'">
                        <span class="bold">{{ "app.todos.done"|trans }}</span><br><br>

                        <input type="checkbox" ng-model="todo.priority" ng-checked="todo.priority">
                        <span class="bold">{{ "app.todos.important"|trans }}</span>

                    </div>
                    <div class="col-xs-5">
                        <span class="bold">{{ "app.todos.date"|trans }}:</span>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input date-picker class="form-control date-picker" type="text" date="todo.date" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="margin-top:35px;">
                                    <timepicker class="time-picker" ng-model="todo.date" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <span class="bold">{{ "app.todos.user"|trans }}:</span>
                                <user-select selected="todo.user" placeholder="{{ "app.user.search"|trans }}" ng-model="user"></user-select>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>


<!-- Todo Modal -->
<div class="modal fade todoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ "app.todos.delete"|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ "app.todos.delete_text"|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ "app.cancel_modal"|trans }}</button>
                <button type="button" class="btn btn-danger" ng-click="deleteModal()" data-dismiss="modal">{{ "app.todos.do_delete"|trans }}</button>
            </div>
        </div>
    </div>
</div>

