{% extends "OmmaAppBundle::layout.html.twig" %}


{% block content %}
    <div ng-controller="meetingController" ng-init="init({{ meeting|serialize('json') }})">
        {% if can_edit %}
            <div class="pull-right">
                <a href="" class="btn btn-danger" data-toggle="modal" data-target="#meetingModal">
                    <i class="glyphicon glyphicon-trash"></i> {{ "app.delete"|trans }}
                </a>
            </div>
            <div class="modal fade" id="meetingModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">{{ "app.general.delete.title"|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ "app.general.delete.confirmation"|trans }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ "app.cancel_modal"|trans }}</button>
                            <button type="button" class="btn btn-primary" ng-click="deleteMeeting()"  data-dismiss="modal">{{ "app.general.delete.ok"|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            {% verbatim %}
                <div class="meeting-name">
                    <h1 editable-text="meeting.name">
                        {{ meeting.name || "empty" }}
                    </h1>
                </div>
            {% endverbatim %}
        {% else %}
            <h1>{{ meeting.name }}</h1>
        {% endif %}
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#general" data-toggle="tab">{{ "app.general.title"|trans }}</a></li>
            <li><a href="#agenda" data-toggle="tab">{{ "app.agenda.title"|trans }}</a></li>
            <li><a href="#todos" data-toggle="tab">{{ "app.todos.tab_title"|trans }}</a></li>
            <li><a href="#protocol" data-toggle="tab">{{ "app.protocol.title"|trans }}</a></li>
            <li><a href="#attendees" data-toggle="tab">{{ "app.attendees.title"|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general" ng-controller="meetingGeneralController">
                {% if attendee is not null %}
                    {{ block('confirmation_form') }}
                {% endif %}
                <h2>{{ "app.general.title"|trans }}</h2>
                {% include "OmmaAppBundle:Meeting/Tab:general.html.twig" %}
            </div>
            <div class="tab-pane" id="agenda" ng-controller="meetingAgendaController">
                {% include "OmmaAppBundle:Meeting/Tab:agenda.html.twig" %}
            </div>
            <div class="tab-pane" id="todos" ng-controller="toDoController">
                {% include "OmmaAppBundle:Meeting/Tab:todo.html.twig" %}
            </div>
            <div class="tab-pane" id="protocol" ng-controller="protocolController">
                {% include "OmmaAppBundle:Meeting/Tab:protocol.html.twig" %}
            </div>
            <div class="tab-pane" id="attendees" ng-controller="meetingAttendeeController">
                {% include "OmmaAppBundle:Meeting/Tab:attendees.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block confirmation_form %}
    <h2>{{ "app.confirmation.title"|trans }}</h2>
    {% if attendee.status == 'invited' %}
        <div class="alert alert-info" role="alert">
            {{ "app.confirmation.info"|trans }}
        </div>
    {% endif %}
    {{ form_start(attendeeForm) }}
    {{ form_rest(attendeeForm) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-file"></i> {{ "app.save"|trans }}
            </button>
        </div>
    </div>
    {{ form_end(attendeeForm) }}
{% endblock %}
