{% extends "OmmaAppBundle::layout.html.twig" %}

{% block agenda_tab %}
    {% if can_edit %}
        <div class="header-button" ng-switch on="status">
            <button ng-switch-when="not_saved" class="btn btn-primary" ng-click="saveTree()"><span class="glyphicon glyphicon-file"></span> {{ "app.save"|trans }}</button>
            <button ng-switch-when="saving" class="btn btn-default disabled" ng-click="saveTree()"><span class="glyphicon glyphicon-refresh"></span> {{ "app.saving"|trans }}</button>
            <button ng-switch-when="saved" class="btn btn-default disabled" ng-click="saveTree()"><span class="glyphicon glyphicon-ok"></span> {{ "app.saved"|trans }}</button>
        </div>
    {% endif %}
    <h2>{{ "app.agenda.title"|trans }}</h2>
    <hr class="invisible" />
    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle>
            <form class="form-inline" role="form" ng-show="node.editing">
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control" placeholder="Name" ng-model="node.name">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="save(node)">Save</button>
                <button type="submit" class="btn btn-default" ng-click="cancelEditing(node)">Cancel</button>
            </form>
            <div ng-show="!node.editing">
                {{ "{{ node.name }}" }}
                <div class="pull-right">
                    <a href="" class="btn btn-success btn-xs" data-nodrag ng-click="newNode(node)"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="" class="btn btn-primary btn-xs" data-nodrag ng-click="edit(node)"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="" class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </div>
        <ol ui-tree-nodes="" ng-model="node.children">
            <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <div ui-tree>
        <ol ui-tree-nodes="" ng-model="rootAgenda.children" id="tree-root">
            <li ng-repeat="node in rootAgenda.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
        <hr class="invisible" />
        <a href="" class="btn btn-success" data-nodrag ng-click="newNode(rootAgenda)"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
{% endblock %}


{% block protocol_tab %}
    <h2>Protokoll zu dieser Veranstaltung</h2>
    {% if can_edit %}
        <div class="well" ng-show="protocol.final" ng-bind-html="protocol.text"></div>
        <div ng-hide="protocol.final">
            <div class="header-button" ng-switch on="status">
                <button ng-switch-when="not_saved" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span> {{ "app.save"|trans }}</button>
                <button ng-switch-when="saving" class="btn btn-default disabled"><span class="glyphicon glyphicon-refresh"></span> {{ "app.saving"|trans }}</button>
                <button ng-switch-when="saved" class="btn btn-default disabled"><span class="glyphicon glyphicon-ok"></span> {{ "app.saved"|trans }}</button>
            </div>
            <p>Wenn Sie das Protokoll als "Final" markieren, ist es für alle Teilnehmer sichtbar. </p>
            <hr class="invisible" />

            <div text-angular-toolbar name="htmlcontenttools"></div>
            <div class="status">{{ "{{ status }}" }}</div>

            <div text-angular="text-angular" name="htmlcontent" ng-model="protocol.text" ta-disabled='disabled' placeholder='Hier können Sie Ihr Protokoll verfassen... ' ta-target-toolbars='htmlcontenttools,statictoolbar'></div>
            <hr class="invisible" />
            <div class="btn btn-primary {{ "{{ getButtonClass() }}" }}" data-toggle="modal" data-target=".protocolModal">Protokoll als "Final" markieren</div>
        </div>
        <!-- Todo Modal -->
        <div class="modal fade protocolModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Protokoll als "Final" markieren</h4>
                    </div>
                    <div class="modal-body">
                        Wollen Sie das Protokoll wirklich als "Final" markieren?<br>Diese Aktion kann nicht rückgängig gemacht werden, Änderungen sind nicht mehr möglich.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Nein, doch nicht</button>
                        <button type="button" class="btn btn-primary" ng-click="deleteModal()" data-dismiss="modal">Ja, als "Final" markieren</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% if meeting.protocol %}
            <div class="well">
                {{ meeting.protocol.text }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block todo_tab %}
    <h2>{{ "app.todos.title"|trans }}</h2>
    {% verbatim %}
    <hr class="invisible"/>

    <!--<div class="input-group form-inline">
        <input type="text" class="form-control" placeholder="Neuen ToDo-Punkt hinzufügen..." ng-model="newToDoContent">
        <span class="input-group-addon" ng-click="persistNewToDo()">Speichern</span>
        <h4>Priorität</h4>
        <div class="input-group">
            <input type="radio" name="priority" value="high" ng-checked="true"> Hoch<br>
            <input type="radio" name="priority" value="normal" ng-checked="false"> Normal
        </div>
    </div>
    <hr>-->

        <div class="btn btn-primary" ng-click="addNewTodo()"><i class="glyphicon glyphicon-plus"></i> </div>
        <hr class="invisible" />

    <div ng-repeat="todo in todos">

        <div ng-class="{'done': todo.status}">
            <accordion close-others="oneAtATime">
                <accordion-group>
                    <accordion-heading ng-class="done">
                        <i class="fa" ng-class="{'fa-exclamation': getPriorityOfTodo(todo)}"> </i> {{ todo.task }}

                    </accordion-heading>


                    <div class="row">
                        <div class="col-xs-12"><i>{{ todo.description }}</i></div>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-3">

                            <input type="checkbox" ng-checked="todo.status" ng-model="todo.status" ng-change="checkboxDoneChanged(todo)">
                            <span class="bold">Erledigt</span><br><br>


                            <input type="checkbox" ng-checked="todo.priority" ng-model="todo.priority" ng-change="checkboxPrioChanged(todo)">
                            <span class="bold">Wichtig</span>

                        </div>
                        <div class="col-xs-3">




                            <span class="bold">Zu erledigen bis</span>


                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <span class="bold">teilnehmer</span>
                            select field here




                        </div>
                        <div class="col-xs-2">
                            <div class="pull-right" data-toggle="modal" data-target=".todoModal" ng-click="setTempIdToDelete(todo.id)"><i class="fa fa-trash fa-2x"></i></div>
                        </div>
                    </div>

                </accordion-group>
            </accordion>
        </div>




    </div>


    <!-- Todo Modal -->
    <div class="modal fade todoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">ToDo löschen</h4>
                </div>
                <div class="modal-body">
                    Wollen Sie diesen ToDo Punkt wirklich unwiderruflich löschen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nein, doch nicht</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteModal()" data-dismiss="modal">Ja, löschen</button>
                </div>
            </div>
        </div>
    </div>



    {% endverbatim %}
{% endblock %}


{% block attendee_tab %}
    <h2>{{ "app.attendees.title"|trans }}</h2>
    <hr class="invisible" />
    {% if can_edit %}
    <form role="form">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <user-select selected="selectedUser"></user-select>
                </div>
                <div class="col-md-6">
                    <button ng-click="addUser()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 20px">&nbsp;</th>
            <th>{{ "app.attendees.user"|trans }}</th>
            {% if can_edit %}
                <th>{{ "app.options"|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="attendee in attendees">
            <td ng-switch on="attendee.status">
                <i ng-switch-when="invited" class="glyphicon glyphicon-time" data-toggle="tooltip" title="Invited"></i>
                <i ng-switch-when="accepted" class="glyphicon glyphicon-ok-sign"></i>
                <i ng-switch-when="declined" class="glyphicon glyphicon-remove-sign"></i>
                <i ng-switch-when="maybe" class="glyphicon glyphicon-question-sign"></i>
            </td>
            <td>
                {{ "{{ attendee.user.username }}" }}
                <span ng-show="attendee.owner" class="label label-primary">
                    {{ "app.attendees.organizer"|trans }}
                </span>
            </td>
            {% if can_edit %}
            <td>
                <a class="btn btn-xs btn-danger" ng-click="removeAttendee(attendee)" ng-hide="attendee.owner"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block content %}
    <script type="text/ng-template" id="user_select.html">
        <ui-select ng-model="$parent.selected" theme="select2" class="form-control">
            <ui-select-match placeholder="{{ "app.user.search"|trans }}">
            {{ "{{ $select.selected.username}}" }}
            </ui-select-match>
            <ui-select-choices refresh="search($select.search)" refresh-delay="1000" repeat="item in users | filter: $select.search">
                <div ng-bind-html="item.username | highlight: $select.search"></div>
                <small>
                    <span ng-bind-html="item.firstname | highlight: $select.search"></span>
                    <span ng-bind-html="item.lastname | highlight: $select.search"></span>
                </small>
            </ui-select-choices>
        </ui-select>
    </script>

    <div ng-controller="meetingController" ng-init="init({{ meeting|serialize('json') }})">
        {% if can_edit %}
            {% verbatim %}
                <div class="meeting-name">
                    <h1 editable-text="meeting.name">
                        {{ meeting.name || "empty" }}
                    </h1>
                </div>
            {% endverbatim %}
        {% else %}
            <h1>{{ meeting.name }}</h1>
        {% endif %}
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#general" data-toggle="tab">{{ "app.general.title"|trans }}</a></li>
            <li><a href="#agenda" data-toggle="tab">{{ "app.agenda.title"|trans }}</a></li>
            <li><a href="#todos" data-toggle="tab">{{ "app.todos.title"|trans }}</a></li>
            <li><a href="#protocol" data-toggle="tab">{{ "app.protocol.title"|trans }}</a></li>
            <li><a href="#attendees" data-toggle="tab">{{ "app.attendees.title"|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general" ng-controller="meetingGeneralController">
                {% if attendee is not null %}
                    {{ block('confirmation_form') }}
                {% endif %}
                <h2>{{ "app.general.title"|trans }}</h2>
                {{ block('general_tab') }}
            </div>
            <div class="tab-pane" id="agenda" ng-controller="meetingAgendaController">
                {{ block('agenda_tab') }}
            </div>
            <div class="tab-pane" id="todos" ng-controller="toDoController">
                {{ block('todo_tab') }}
            </div>
            <div class="tab-pane" id="protocol" ng-controller="protocolController">
                {{ block('protocol_tab') }}
            </div>
            <div class="tab-pane" id="attendees" ng-controller="meetingAttendeeController">
                {{ block('attendee_tab') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block confirmation_form %}
    <h2>{{ "app.confirmation.title"|trans }}</h2>
    {% if attendee.status == 'invited' %}
        <div class="alert alert-info" role="alert">
            {{ "app.confirmation.info"|trans }}
        </div>
    {% endif %}
    {{ form_start(attendeeForm) }}
    {{ form_rest(attendeeForm) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-file"></i> {{ "app.save"|trans }}
            </button>
        </div>
    </div>
    {{ form_end(attendeeForm) }}
{% endblock %}

{% block general_tab %}
    {# @author Florian Pfitzer <pfitzer@w3p.cc> #}
    <form class="form-horizontal">
        <div class="form-group">
            <label for="previous" class="col-sm-3 control-label">{{ "app.general.previous_meeting"|trans }}</label>
            <div class="col-sm-9">
                {% if can_edit %}
                <button class="btn btn-primary" ng-click="editPrevMeeting()" ng-hide="editingPrevMeeting || prevMeeting != null">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ "app.add"|trans }}
                </button>
                {% endif %}
                <div class="form-control-static" ng-show="!editingPrevMeeting && prevMeeting != null">
                    {% verbatim %}
                        <a target="_blank" ng-href="/meetings/{{ prevMeeting.id }}/details">{{ prevMeeting.name }}<br />
                            {{ prevMeeting.date_start | moment }} - {{ prevMeeting.date_end | moment }}
                        </a>
                    {% endverbatim %}
                    {% if can_edit %}
                    <br /><br />
                    <button class="btn btn-default" ng-click="copyAttendees()">
                        {{ "app.general.copy_attendees"|trans }}
                    </button>
                    <button class="btn btn-default" ng-click="copyAgenda()">
                        {{ "app.general.copy_agenda"|trans }}
                    </button>
                    {% endif %}
                </div>
                {% if can_edit %}
                <div class="well" ng-show="editingPrevMeeting">
                    <ui-select ng-model="$parent.prevMeeting" theme="select2" class="form-control">
                        <ui-select-match placeholder="{{ "app.general.search"|trans }}">
                            {{ "{{ $select.selected.name}} ({{ $select.selected.date_start | moment }} - {{ $select.selected.date_end | moment }}) " }}
                        </ui-select-match>
                        <ui-select-choices repeat="item in prevMeetings | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                            <small>
                                <span ng-bind-html="item.date_start | moment | highlight: $select.search"></span>
                                -
                                <span ng-bind-html="item.date_end | moment | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                    <br />
                    <button class="btn btn-success" ng-click="linkMeeting()">
                        <i class="glyphicon glyphicon-ok"></i>
                        {{ "app.general.link"|trans }}
                    </button>
                    <button class="btn btn-default" ng-click="cancelEditPrevMeeting()">
                        <i class="glyphicon glyphicon-remove"></i>
                        {{ "app.cancel"|trans }}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        {% if meeting.next is not null %}
            <div class="form-group">
                <label for="next" class="col-sm-3 control-label">{{ "app.general.next_meeting"|trans }}</label>
                <div class="col-sm-9">
                    <div class="form-control-static">
                        {% verbatim %}
                        <a target="_blank" ng-href="/meetings/{{ nextMeeting.id }}/details">{{ nextMeeting.name }}<br />
                            {{ prevMeeting.date_start | moment }} - {{ prevMeeting.date_end | moment }}
                        </a>
                        {% endverbatim %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form-group" style="margin-top: 35px">
            <label for="startDate" class="col-sm-3 control-label">{{ "app.general.date_start"|trans }}</label>
            {% if can_edit %}
                <div class="col-sm-5">
                    <input date-picker id="startDate" class="form-control date-picker" type="text" date="date.startDate" />
                </div>
                <div class="col-sm-3">
                    <timepicker class="time-picker" ng-model="date.startDate" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
                </div>
            {% else %}
                <div class="col-sm-9">
                    <div class="form-control-static">
                        {{ "{{ date.startDate|moment }}" }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="form-group" style="margin-top: 35px">
            <label for="endDate" class="col-sm-3 control-label">{{ "app.general.date_end"|trans }}</label>
            {% if can_edit %}
                <div class="col-sm-5">
                    <input date-picker id="endDate" class="form-control date-picker" type="text" date="date.endDate" />
                </div>
                <div class="col-sm-3">
                    <timepicker class="time-picker" ng-model="date.endDate" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
                </div>
            {% else %}
                <div class="col-sm-9">
                    <div class="form-control-static">
                        {{ "{{ date.endDate|moment }}" }}
                    </div>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
