{% extends "OmmaAppBundle::layout.html.twig" %}

{% block agenda_tab %}
    <h1>Agenda</h1>
    <!-- Nested node template -->
    {% verbatim %}
        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle>
                <form class="form-inline" role="form" ng-show="node.editing">
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control" placeholder="Name" ng-model="node.name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="save(node)">Save</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelEditing(node)">Cancel</button>
                </form>
                <div ng-show="!node.editing">
                    {{node.name}}
                    <div class="pull-right">
                        <a href="" class="btn btn-success btn-xs" data-nodrag ng-click="newNode(node)"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="" class="btn btn-primary btn-xs" data-nodrag ng-click="edit(node)"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="" class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </div>
            <ol ui-tree-nodes="" ng-model="node.children">
                <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>

        <div ui-tree>
            <ol ui-tree-nodes="" ng-model="agendas" id="tree-root">
                <li ng-repeat="node in agendas" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
            <a href="" class="btn btn-success btn-xs" data-nodrag ng-click="newNode()"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    {% endverbatim %}
{% endblock %}


{% block protocol_tab %}
    {% verbatim %}
        <h1>Protokoll zu dieser Veranstaltung</h1>
        <p>Wenn Sie das Protokoll als "final" markieren, ist es für alle Teilnehmer sichtbar. </p>
        <hr class="invisible" />

        <div text-angular-toolbar name="htmlcontenttools"></div>
        <div class="status">{{ status }}</div>
        <div text-angular="text-angular" name="htmlcontent" ng-model="orightml" ta-disabled='disabled' placeholder='Hier können Sie Ihr Protokoll verfassen... ' ta-target-toolbars='htmlcontenttools,statictoolbar'></div>
        <hr class="invisible" />
        <div class="btn btn-primary omma-ask {{ getButtonClass() }}">Protokoll als "final" markieren</div>
        <div class="btn btn-info omma-cancel">Nein, doch nicht</div>
        <div class="btn btn-danger omma-do">Ja, als "final" markieren</div>
    {% endverbatim %}
{% endblock %}

{% block todo_tab %}
    {% verbatim %}

        <h1>ToDos</h1>


    <div class="input-group">

        <input type="text" class="form-control" placeholder="Neues ToDo hinzufügen..." ng-model="newToDoContent">
        <span class="input-group-addon" ng-click="persistNewToDo()">Speichern</span>

    </div>
    <hr class="invisible" />

        <div ng-repeat-start="todo in todos" ng-repeat-end>

            <div class="alert alert-info">

                <input type="checkbox" ng-model="todo.done" ng-change="checkboxChanged()">

                {{ todo.content }}

                {{ todo.done }}


                <div class="btn btn-primary btn-small" data-toggle="modal" data-target=".todoModal">
                    löschen
                </div>


            </div>


        </div>


    <!-- Todo Modal -->
    <div class="modal fade todoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">ToDo löschen</h4>
                </div>
                <div class="modal-body">
                    Wollen Sie diesen ToDo Punkt wirklich unwiderruflich löschen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nein, doch nicht</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteModal()" data-dismiss="modal">Ja, löschen</button>
                </div>
            </div>
        </div>
    </div>



    {% endverbatim %}
{% endblock %}






{% block content %}
    <div ng-controller="meetingController" ng-init="init({{ meeting.id }})">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#datum-uhrzeit" data-toggle="tab">Datum & Uhrzeit</a></li>
            <li><a href="#agenda" data-toggle="tab">Agenda</a></li>
            <li><a href="#todos" data-toggle="tab">ToDos</a></li>
            <li><a href="#protokoll" data-toggle="tab">Protokoll</a></li>
            <li><a href="#teilnehmer" data-toggle="tab">Teilnehmer</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="datum-uhrzeit">
                <h1>datum-uhrzeit</h1>
            </div>
            <div class="tab-pane" id="agenda" ng-controller="meetingAgendaController">
                {{ block('agenda_tab') }}
            </div>
            <div class="tab-pane" id="todos" ng-controller="toDoController">
                {{ block('todo_tab') }}
            </div>
            <div class="tab-pane" id="protokoll" ng-controller="protocolController">
                {{ block('protocol_tab') }}
            </div>
            <div class="tab-pane" id="teilnehmer">
                <h1>teilnehmer</h1>
            </div>
        </div>
    </div>
{% endblock %}
