{% extends "OmmaAppBundle::layout.html.twig" %}




{% block agenda_tab %}
    <h1>Agenda</h1>
    <!-- Nested node template -->
    {% verbatim %}
        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle>
                <form class="form-inline" role="form" ng-show="node.editing">
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control" placeholder="Name" ng-model="node.name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="save(node)">Save</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelEditing(node)">Cancel</button>
                </form>
                <div ng-show="!node.editing">
                    {{node.name}}
                    <div class="pull-right">
                        <a href="" class="btn btn-success btn-xs" data-nodrag ng-click="newNode(node)"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="" class="btn btn-primary btn-xs" data-nodrag ng-click="edit(node)"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="" class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </div>
            <ol ui-tree-nodes="" ng-model="node.children">
                <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>

        <div ui-tree>
            <ol ui-tree-nodes="" ng-model="agendas" id="tree-root">
                <li ng-repeat="node in agendas" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
            <a href="" class="btn btn-success btn-xs" data-nodrag ng-click="newNode()"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    {% endverbatim %}
{% endblock %}










{% block protocol_tab %}
    {% verbatim %}
        <h1>Protokoll zu dieser Veranstaltung</h1>
        <p>Wenn Sie das Protokoll als "Final" markieren, ist es für alle Teilnehmer sichtbar. </p>
        <hr class="invisible" />

        <div text-angular-toolbar name="htmlcontenttools"></div>
        <div class="status">{{ status }}</div>
        <div text-angular="text-angular" name="htmlcontent" ng-model="orightml" ta-disabled='disabled' placeholder='Hier können Sie Ihr Protokoll verfassen... ' ta-target-toolbars='htmlcontenttools,statictoolbar'></div>
        <hr class="invisible" />
        <div class="btn btn-primary {{ getButtonClass() }}" data-toggle="modal" data-target=".protocolModal">Protokoll als "Final" markieren</div>

        <!-- Todo Modal -->
        <div class="modal fade protocolModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Protokoll als "Final" markieren</h4>
                    </div>
                    <div class="modal-body">
                        Wollen Sie das Protokoll wirklich als "Final" markieren?<br>Diese Aktion kann nicht rückgängig gemacht werden, Änderungen sind nicht mehr möglich.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Nein, doch nicht</button>
                        <button type="button" class="btn btn-primary" ng-click="deleteModal()" data-dismiss="modal">Ja, als "Final" markieren</button>
                    </div>
                </div>
            </div>
        </div>
    {% endverbatim %}
{% endblock %}












{% block todo_tab %}
    {% verbatim %}
<h1>ToDo-Liste</h1>
    <hr class="invisible"/><hr class="invisible"/>
    <h2>Punkt erstellen</h2>

    <div class="input-group form-inline">
        <input type="text" class="form-control" placeholder="Neuen ToDo-Punkt hinzufügen..." ng-model="newToDoContent">
        <span class="input-group-addon" ng-click="persistNewToDo()">Speichern</span>
        <h4>Priorität</h4>
        <div class="input-group">
            <input type="radio" name="priority" value="high" ng-checked="true"> Hoch<br>
            <input type="radio" name="priority" value="normal" ng-checked="false"> Normal
        </div>
    </div>
<hr>

    <h2>Punkte verwalten</h2>

    <div ng-repeat-start="todo in todos" ng-repeat-end>



        <div ng-class="{'done': todo.status}">
        <accordion close-others="oneAtATime">
            <accordion-group>
                <accordion-heading ng-class="done">
                    <i class="fa" ng-class="{'fa-exclamation': getPriorityOfTodo(todo)}"> </i> {{ todo.task }}

                </accordion-heading>


                <div class="row">
                    <div class="col-xs-12"><i>{{ todo.description }}</i></div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-6">

                        <input type="checkbox" ng-checked="todo.status" ng-model="todo.status" ng-change="checkboxDoneChanged(todo)">
                        <span class="bold">Erledigt</span><br><br>


                        <input type="checkbox" ng-checked="todo.priority" ng-model="todo.priority" ng-change="checkboxPrioChanged(todo)">
                        <span class="bold">Hohe Priorität</span>

                    </div>
                    <div class="col-xs-4">




                        <span class="bold">Zu erledigen bis</span>


                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                            </p>


                    </div>
                    <div class="col-xs-2">
                        <div class="pull-right" data-toggle="modal" data-target=".todoModal"><i class="fa fa-trash fa-2x"></i></div>
                    </div>
                </div>









            </accordion-group>
        </accordion>
        </div>




    </div>













    <!-- Todo Modal -->
    <div class="modal fade todoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">ToDo löschen</h4>
                </div>
                <div class="modal-body">
                    Wollen Sie diesen ToDo Punkt wirklich unwiderruflich löschen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nein, doch nicht</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteModal()" data-dismiss="modal">Ja, löschen</button>
                </div>
            </div>
        </div>
    </div>



    {% endverbatim %}
{% endblock %}






{% block content %}
    <div ng-controller="meetingController" ng-init="init({{ meeting.id }})">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#datum-uhrzeit" data-toggle="tab">Datum & Uhrzeit</a></li>
            <li><a href="#agenda" data-toggle="tab">Agenda</a></li>
            <li><a href="#todos" data-toggle="tab">ToDos</a></li>
            <li><a href="#protokoll" data-toggle="tab">Protokoll</a></li>
            <li><a href="#teilnehmer" data-toggle="tab">Teilnehmer</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="datum-uhrzeit">
                <h1>datum-uhrzeit</h1>
            </div>
            <div class="tab-pane" id="agenda" ng-controller="meetingAgendaController">
                {{ block('agenda_tab') }}
            </div>
            <div class="tab-pane" id="todos" ng-controller="toDoController">
                {{ block('todo_tab') }}
            </div>
            <div class="tab-pane" id="protokoll" ng-controller="protocolController">
                {{ block('protocol_tab') }}
            </div>
            <div class="tab-pane" id="teilnehmer">
                <h1>teilnehmer</h1>
            </div>
        </div>
    </div>
{% endblock %}
